body {
  margin: 0;
  padding-top: 70px;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spin {
    text-align: center;
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
}

.top-buffer { 
    margin-top:20px; 
}

.text-middle{
    vertical-align: middle;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}